body {
    font-family: Lexend;
    font-weight: 300;
    z-index: -1;
}

#profileSubMenu {
    height: auto;
    z-index: 1;
    top: 4.5rem;
    left: 0;
    background-color: #64676b !important;
    overflow-x: hidden;
    width: 0;
    position: fixed;
    padding-top: 0;
}

#profileSubMenu a {
    padding: 6px 6px 6px 6px;
    border-bottom: solid 1px #b1b7bc;
    border-top: solid 1px #b1b7bc;
}


#close {
    border: none;
    margin: 0px;
    padding: 0px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2D3238 !important;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 75px;
    margin-top: 3.5rem;
}

    .sidenav a {
        padding: 8px 8px 24px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #c1c1c1;
        display: block;
        transition: 0.3s;
        font-size: 1.3rem;
    }

        .sidenav a:hover {
            color: #f1f1f1;
            transition: 0.3s;
            border-right: solid 5px #00d600;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 40px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
