body {
    font-family: "Lato", sans-serif;
}

#profileSubMenu {
    height: auto;
    z-index: 1;
    top: 4.5rem;
    right: 0;
    background-color: #212529;
    overflow-x: hidden;
    width: 0;
    position: fixed;
    transition: none;
    padding-top: 0;
}

#profileMenuNav {
    transition: 0.7s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #212529;
    overflow-x: hidden;
    transition: 0.7s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #c1c1c1;
        display: block;
        transition: 0.7s;
        font-size: 1.3rem;
    }

        .sidenav a:hover {
            color: #f1f1f1;
            transition: 0.2s;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
